@import "settings";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: $fontPrimary;
  color: $darkgrey;
  font-size: 1.6rem;
  background: $white;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
w-full{
  width: 100%;
}

