//colors
$primary : #007FFF;
$secondary : #C14953;
$tertiary : #7D83FF;
$quaternary : #D4DCFF;
$ligth : #F5F5F5;
$darkgrey : #424242;
$ligthgrey : #e0e0e0;
$grey : #9E9E9E;

//fonts
$fontPrimary : 'Inter', sans-serif;

//btn google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;